node_modules
.tmp
.log

# Excluding idea, but commiting run configs
.idea/*
.idea/runConfigurations/Default_test_run_edit_to_run_and_debug_tests_.xml


.DS_Store
node_modules/*
reports /
allure-report/*
allure-results/*
report.xml
.orig